<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ReadyData_Import::import" title="ReadyData Product Import" sortOrder="100">
                    <resource id="ReadyData_Import::config" title="Import Configuration" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
